

.md-nav--primary .md-nav__link[for=__toc] > .md-nav__icon,
.md-nav--primary .md-nav__link[for=__toc] ~ .md-nav {
    display: none;
}




header {
    background-color: #e6695b; /* Replace with your desired color */
}

.md-nav.md-right {
    position: fixed; /* Fixed position on the right side */
    top: 0;
    right: 0;
    height: 100%; /* Make it full height */
    width: 300px; /* Adjust the width as needed */
    background-color: #f0f0f0; /* Background color for the TOC */
    overflow-y: auto; /* Add vertical scrolling if needed */
    border-left: 1px solid #ddd; /* Optional: Add a border */
}

/* Change the background color of the top navigation bar */



h1{
    accent-color: #00bdd6;
}
:root {
    --md-primary-fg-color:        #EE0F0F;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #90030C;
}


/* Slate theme */
/*[data-md-color-scheme=slate] .md-tabs {*/
/*    background-color: green;*/
/*}*/



body {
    background-color: #ffffff;
    color: #333333;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #333333;
    color: #ffffff;
}


.md-grid {
    max-width: 1440px;
}

/* Style TOC links */
.md-nav.md-right ul li {
    padding: 1000px;
    accent-color: #d52a2a;
}

/* Optional: Style TOC link hover and active states */
.md-nav.md-right ul li:hover {
    background-color: #d3e156;
}

.md-nav.md-right ul li.active {
    background-color: #d52a2a;
    color: #fff;
}