

.md-nav--primary .md-nav__link[for=__toc] > .md-nav__icon,
.md-nav--primary .md-nav__link[for=__toc] ~ .md-nav {
    display: none;
}


.md-typeset pre code {
    display: block;
    font-family: 'JetBrains Mono', Menlo, Monaco, 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.6;
    color: #C3C3C3; /* Text color */
    background-color: #2B2B2B; /* Background color */
    border: 1px solid #3A3A3A; /* Border color */
    border-radius: 4px; /* Optional: Add rounded corners */
    padding: 10px; /* Adjust padding as needed */
    overflow-x: auto;
    font-weight: normal; /* Adjust font weight as needed */
}


.markdown-body {
    --md-code-background: #e3dcef;
    --md-code-text: #4a2b7b;
    --md-code-tabs: #c6b8dd;
    --md-code-radius: 4px;
}

.md-typeset pre code .keyword { color: #008080; }
.md-typeset pre code .comment { color: #696969; }
.md-typeset pre code .string { color: #a31515; }
.md-typeset pre code .number { color: #09885a; }


header {
    background-color: #e6695b; /* Replace with your desired color */
}

.md-nav.md-right {
    position: fixed; /* Fixed position on the right side */
    top: 0;
    right: 0;
    height: 100%; /* Make it full height */
    width: 300px; /* Adjust the width as needed */
    background-color: #f0f0f0; /* Background color for the TOC */
    overflow-y: auto; /* Add vertical scrolling if needed */
    border-left: 1px solid #ddd; /* Optional: Add a border */
}

.md-grid {
    max-width: 1440px;
}

/* Style TOC links */
.md-nav.md-right ul li {
    padding: 1000px;
    accent-color: #d52a2a;
}

/* Optional: Style TOC link hover and active states */
.md-nav.md-right ul li:hover {
    background-color: #d3e156;
}

.md-nav.md-right ul li.active {
    background-color: #d52a2a;
    color: #fff;
}