-i https://pypi.org/simple/
click==7.1.2
future==0.18.2
jinja2==2.11.2
joblib==0.16.0
livereload==2.6.3
lunr[languages]==0.5.8
markdown==3.2.2
markupsafe==2.0.0a1
mkdocs-material-extensions==1.0
mkdocs-material==9.7.2
mkdocs==1.5.2
nltk==3.5
prompt-toolkit==3.0.7
pygments==2.7.0
pymdown-extensions==8.0
python-markdown-math==0.7
pyyaml==5.3.1
regex==2020.7.14
six==1.15.0
tornado==6.0.4
tqdm==4.49.0
wcwidth==0.2.5
mkdocs-ezlinked-plugin==0.3.3
mkdocs-awesome-pages-plugin==2.9.2
mdx_breakless_lists==1.0.1
mkdocs-embed-file-plugins==2.0.6
mkdocs_custom_fences==0.1.2
mkdocs-git-revision-date-localized-plugin==1.2.0
mkdocs-encryptcontent-plugin==2.5.3
mkdocs-callouts==1.9.0
mkdocs-custom-tags-attributes==0.3.0
mkdocs-static-i18n==1.0.2
mkdocs-meta-descriptions-plugin==2.3.0
mkdocs-glightbox==0.3.4
mkdocs-minify-plugin==0.7.1
mkdocs-exclude==1.0.2